<footer>
  <nav class="navbar navbar-inverse navbar-fixed-bottom" id="footerNavbar">
    <div class="container">
      <div class="row ">
        <div class="navbar-left">
          <strong><h2>E-Library</h2></strong>
        </div>
        <div style="float:right">
          <p>&copy; 2015 Company, Inc.</p>
          <p>Keep reading....!</p>
        </div>
      </div>
    </div>
  </nav>
</footer>
