<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jumbotron Template for Bootstrap</title>
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="/css/custom.css" />
  </head>

  <body style="background:rgb(211, 219, 247)">
    <% include ./partials/navbar %>

    <!-- Example row of columns -->
    <%- body -%>
    <br /><br />
    <!-- /container -->
    <% include ./partials/footer %> <% include ./partials/javascriptOnly%>
  </body>
</html>
