<% layout('layout') -%>

<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="jumbotron" id="navbar-gap">
  <div class="row">
    <div class="col col-md-6" id="jumbotron-left">
      <img src="/images/LMS.PNG" style="width:100%" alt="" />
    </div>
    <div class="col col-md-4" id="jumbotron-right">
      <div class="row">
        <h3><strong> Some Thoughts: </strong></h3>
        <hr />
        <p>
          <b
            >“I am thankful for all of those who said NO to me. It’s because of
            them I’m doing it myself.”</b
          >
          – Albert Einstein
        </p>
      </div>
      <div class="row">
        <p>
          <b
            >“I refuse to accept other people’s ideas of happiness for me. As if
            there’s a one size fits all standard for happiness.”</b
          >
          – Kanye West
        </p>
      </div>
      <div class="row">
        <p>
          <b
            >“If you don’t build your dream, someone else will hire you to help
            them build theirs.”</b
          >
          – Dhirubhai Ambani
        </p>
      </div>
      <div class="row">
        <p>
          <b
            >“Don’t judge each day by the harvest you reap but by the seeds that
            you plant.“</b
          >
          – Robert Louis Stevenson
        </p>
      </div>
      <div class="row">
        <p>
          <b
            >“Don’t judge each day by the harvest you reap but by the seeds that
            you plant.“</b
          >
          – Robert Louis Stevenson
        </p>
      </div>
      <hr />

      <div class="row">
        <blink
          ><strong
            >Please select the category on top-left to choose book</strong
          ></blink
        >
      </div>
    </div>
    <div class="col col-md-1">
      <div class="row">
        <h3><strong>CSUF: </strong></h3>
        <hr />
      </div>
      <div class="row" style="  width: 220px; height: 290px; overflow: auto;">
        <a
          class="twitter-timeline"
          href="https://twitter.com/csuf?ref_src=twsrc%5Etfw"
          >Tweets by csuf</a
        >
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
      </div>
    </div>
  </div>
  <div class="row"></div>
</div>
<style>
  #jumbotron-left {
    margin-left: 20px;
    /* height: 300px; */
    /* background: url("/images/lms.png");
    /* background-position: center; Center the image */
    /* background-repeat: no-repeat; Do not repeat the image */
    /* background-size: cover; Resize the background image to cover the entire container */
  }
  #jumbotron-right p {
    font-size: 15px;
    margin-right: 5px;
  }

  hr {
    background-color: red;
    height: 1px;
    border: 0;
  }

  blink {
    animation: blinker 1.4s linear infinite;
    color: #1c87c9;
  }

  @keyframes blinker {
    100% {
      opacity: 0;
    }
  }
</style>
